html {
  background: none repeat scroll 0 0 #f3f3f3;
  color: #333;
}
body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
dl,
dt,
dd,
ul,
ol,
li,
pre,
fieldset,
lengend,
button,
input,
textarea,
form,
th,
td {
  margin: 0;
  padding: 0;
}
body,
button,
input,
select,
textarea {
  font: 12px "Helvetica Neue", "Microsoft Yahei", Helvetica, Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
legend {
  color: #000000;
}
fieldset,
img {
  border: 0 none;
  vertical-align: middle;
}
button,
input,
select,
textarea {
  font-size: 100%;
}
hr {
  border: 0;
  height: 1px;
  *color: #ffffff;
}
address,
cite,
dfn,
em,
var,
i {
  font-style: normal;
}
small {
  font-size: 12px;
}
.fl-clear {
  clear: both;
}
.fl-clr {
  zoom: 1;
}
.fl-clr:after {
  display: block;
  clear: both;
  height: 0;
  content: "\0020";
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
ul,
ol {
  list-style: none outside none;
}
a {
  text-decoration: none;
  color: #333333;
}
a:hover {
  color: #e60000;
  text-decoration: none;
}
.fl-bold {
  font-weight: bold;
}
.fl-left {
  float: left;
}
.fl-right {
  float: right;
}
