@charset 'utf-8';
.vi-input {
  height: 22px;
  padding: 4px 7px;
  outline: none;
  border: 1px solid #e6e6e6;
  border-radius: 3px;
  line-height: 1.5;
}
.vi-input:focus {
  border-color: #0f69dc;
}
.vi-input.input-xs {
  width: 54px;
}
.vi-input.input-sm {
  width: 92px;
}
.vi-input.input-lg {
  width: 282px;
}
.vi-input.input-xl {
  width: 362px;
}
.vi-input.error {
  border: 1px solid #e60000;
}
.vi-input.focus {
  border: 1px solid #0f69dc;
}
.vi-input[disabled] {
  background-color: #f3f3f3;
  cursor: not-allowed;
}
.vi-input-large {
  height: 26px;
}
.vi-input-small {
  height: 18px;
}
textarea.vi-input {
  min-width: 289px;
  height: auto;
  border-radius: 4px;
}
